@model Minesweeper.Web.Models.GameViewModel
@{
    ViewBag.Title = "Minesweeper";
}
<div class="container-fluid">
    <h2></h2>
    <div class="row">
        <div class="col-md-4">
            <p>
                The input will consist of an arbitrary number of fields. <br />The first line of each field contains two integers
                n and m (0 < n, m ≤ 100) which stands for the number of lines and columns of the field respectively.
                The next n lines contains exactly m characters and represent the field.<br />
                Each safe square is represented by an ‘.’ character (without the quotes) and each mine square
                is represented by an ‘*’ character (also without the quotes). The first field line where n = m = 0
                represents the end of input and should not be processed.

            </p>
        </div>
        <div class="col-md-4">
<pre>
Sample Input:
4 4
*...
....
.*..
....
3 5
**...
.....
.*...
0 0
</pre>
        </div>
        <div class="col-md-4">
<pre>
Sample Output:
Field #1:
*100
2210
1*10
1110
Field #2:
**100
33200
1*100
</pre>
        </div>
    </div>

    @using (Html.BeginForm("Index", "Home", null, FormMethod.Post, new { @class = "form-inline" }))
    {
        @Html.AntiForgeryToken()
        
        @Html.ValidationSummary("", new { @class = "text-danger" })

        <div class="row">
            <div class="col-md-6">
                @Html.TextAreaFor(m => m.UserInput, 15, 25, new  { })
                <div class="btn-group" role="group" aria-label="">
                    <button type="button" id="Clear" class="btn btn-default">Clear</button>
                    <button type="submit" id="Start" class="btn btn-info">Start</button>
                    
                </div>
            </div>

            @if (Model != null && Model.UserResult != null)
            {
                <div class="col-md-6">@Html.TextAreaFor(m => m.UserResult, 15, 25, new { })</div>
            }
        </div>

    }
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $("#Clear").click(function () {
                $('#UserInput').val('');
                $('#UserResult').val('');
            });
        });
    </script>
}
